h1 {
  text-align: center; }

.container {
  /*max-width: 1500px;*/
  margin: 0.75vw;
  min-height: 37.6vw;
  display: flex;
  flex-wrap: wrap; }
  .container .content1 {
    width: 100%;
    height: 34.6vw;
    margin: 1.5vw 0vw 0vw 0vw;
    display: flex; }
    .container .content1 div.images {
      width: 40%;
      height: 100%;
      padding: 1.5vw; }
    .container .content1 .content {
      width: 70%;
      height: 100%;
      text-align: justify;
      font-size: 1.2vw; }
      .container .content1 .content p {
        padding: 0vw 2vw 0vw 3.4vw; }
  .container .content2, .container .content3 {
    width: 100%;
    /*min-height: 390px;*/
    margin: 1.5vw 0vw;
    text-align: justify;
    font-size: 1.2vw; }
    .container .content3{
      height: 29.3vw;
    }
    .container .content2 p, .container .content3 p {
      padding: 0vw 2vw; }
    .container .content2 .cicle, .container .content3 .cicle {
      width: 40%;
      height: 7.5vw;
      display: flex; }
      .container .content2 .cicle div, .container .content3 .cicle div {
        width: 3.8vw;
        height: 3.8vw;
        border: 0.37vw solid black;
        border-radius: 100%;
        background-color: black;
        margin: 2vw 2vw 0vw 2vw; }
      .container .content2 .cicle div:hover, .container .content3 .cicle div:hover {
        background-color: white; }
  .container .content3 {
    display: flex; }
    .container .content3 div {
      width: 30%;
      height: 100%;
      margin: 0vw 2vw 2vw 2vw; }
