h1 {
  text-align: center; }

.container {
  /*max-width: 1500px;*/
  min-height: 45.1vw
  margin: 1.2vw;
  display: flex;
  flex-direction: column; }
  .container .content {
    width: 100%;
    min-height: 28.2vw;
    background-color: #CACACA;
    margin: 2vw 0vw;
    display: flex; }
    .container .content div {
      width: 7.6vw;
      /*margin: 10px;*/
       }
      .container .content div p {
        text-align: justify;
        padding: 1.5vw;
        font-size: 1.5vw; }
